body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: #0f172a;
    color: #e2e8f0;
}

.admin-container {
    max-width: 1100px;
    margin: auto;
    padding: 20px;
}

.admin-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 32px;
    color: #fff;
}

.title span {
    color: #38bdf8;
}

.logout {
    background: #ef4444;
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 14px;
}
.logout:hover {
    background: #dc2626;
}

.admin-info {
    margin-top: 20px;
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
}

.admin-info h2 {
    margin: 0;
    font-size: 26px;
}

.role {
    color: #38bdf8;
}

.balance {
    margin-top: 10px;
    font-size: 18px;
}

.card-grid {
    display: grid;
    margin-top: 20px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 20px;
}

.card {
    background: #1e293b;
    padding: 20px;
    border-radius: 12px;
    transition: 0.25s;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-4px);
    background: #334155;
}
